body {
  background-color: #FF4136;
  color: #FFF;
  text-align: center;
  font-family: 'McLaren', cursive;
  font-size: 1.25rem;
  line-height: 2.5rem;
}

h1 {
  color: #FFF;
  font-size: 5rem;
  font-weight: 700;
  text-shadow: .25rem .25rem .25rem #800600;
  margin-bottom: 1.25rem;
}

h6 {
  color: #800600;
  font-size: 1.25rem;
  font-weight: normal;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

.red-text {
  color: #BC1007;
  background-color: rgba(255, 255, 255, 0.25);
  padding: .25rem .5rem;
  margin: .25rem;
}

.btn-custom {
  background-color: #800600;
  color: #FFF;
}

.btn-custom:hover {
  color: #BC1007;
}

#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}
